.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkorange;
}



.content {

    background-color: rgb(241, 184, 114);

}


.content {
    display: flex;
    flex-wrap: wrap;
}

.content>*:first-child {
    flex: 1 1 3000px;
    order: 2;
}

h1 {
    text-align: center;
}
.content>* {
    flex: 1 1 300px;
    order: 3;
}

[id=breaking] {
    order: 1;
    text-align: center;
}

[id=breaking]>h3 {
    font-size: 30px;
}

[id=breaking]>p {
    font-size: 20px;
}