h2 {
    text-align: center;
    font-size: 65px;
    color: red;
}
input {
    display: block;
}
label {
    display: block;
}
li {
    display: inline;
}
article {
    background-color: rgb(83, 0, 238);
}
header {
    border-bottom: double;
}
.navigation {
    text-align: center;
    background-color: rgb(45, 119, 176);
}