div {
    background-color: grey;
}

.tooltip-content {
    position: absolute;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    color: azure;
    width: 400px;
}


.icon:hover+.tooltip-content {
    position: absolute;
    z-index: 1;
}