
.grey {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: rgb(92, 89, 87);
}
.red {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: coral;
}  
.pink {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: rgb(255, 80, 165);
}  
.blue {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: rgb(30, 0, 255);
}  
.yellow {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: rgb(255, 247, 0);
}  
td:hover {
  background-color: rgb(0, 255, 200);
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  cursor: zoom-out;
  
  
}

