.Tip {
    color: aqua;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    padding: 40px;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #666;
    padding: 20px;
    font-size: 25px;

}

img {
    max-width: 20rem;
}

section {
    background-color: aqua;
    padding: 2rem;
    border-radius: 1rem;
}

.homepage {
    height: 100%;
    max-width: 100%;
}